<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">The Recipe Database</span>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " href="/recipes">Current Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link danger" href="/scrape">Get new Recipes</a>
  </li>
  
</ul>
</nav>