<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">The Recipe Database</span>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " href="/recipes">Show all Recipes</a>
  </li>
  <li class="nav-item">
    <a href="/scrape" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Get new Recipes</a>
  
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/clearAll">Delete all Recipes</a>
  </li>
  
</ul>
</nav>
