{{> nav }}
<div class="jumbotron">
  <h1 class="display-4">Welcome to the Recipe Database</h1>
   <hr class="my-4">
</div>
<div class="container">

      <div class="row">
        {{#each recipe}} 
   
         
            <div class="card" style="width: 18rem;">
                <img src="{{this.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text"><h5>{{this.title}}</h5></p>
                    <div class="card-body">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add Notes
                    </button>

                    
                   
                    <a href="#" class="card-link">Delete Article</a>
                    </div>
                </div>
            </div>
       
        {{/each}} 
    </div> 
</div>



{{> notemodal}}

<button onclick="content()" data-toggle="modal" data-target="#my_modal">Save</button>

<form action="addPage.php" method="post">
  <div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="savePageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="savePageLabel">Page Details:</h5>
        </div>
      </div>
    </div>
  </div>
</form>